@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CI and CD MultiStage pipeline project </h1>
    <h1 class="display-4">CI and CD MultiStage pipeline is now completed and its checked</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
